[Desktop Entry]
Name=Firewall Applet
Name[ar]=التطبيق الصغير للجدار الناري
Name[as]=ফায়াৰৱাল এপ্লেট
Name[bg]=Аплет на защитната стена
Name[bn_IN]=ফায়ারওয়াল অ্যাপ্লেট
Name[ca]=Miniaplicació del tallafoc
Name[cs]=Aplet brány firewall
Name[da]=Firewall-applet
Name[de]=Firewall-Applet
Name[el]=Μικροεφαρμογή τείχους προστασίας
Name[en_GB]=Firewall Applet
Name[en_US]=Firewall Applet
Name[es]=Applet del cortafuegos
Name[et]=Tulemüüri aplett
Name[eu]=Suhesiaren applet-a
Name[fi]=Palomuurisovelma
Name[fr]=Appliquette pare-feu
Name[gl]=Applet de devasa
Name[gu]=ફાયરવોલ ઍપલેટ
Name[hi]=फ़ायरवॉल एप्लेट
Name[hu]=Tűzfal kisalkalmazás
Name[ia]=Applet de parafoco
Name[id]=Aplikasi Firewall
Name[it]=Applet firewall
Name[ja]=ファイアウォールアプレット
Name[kn]=ಫೈರ್ವಾಲ್ ಆಪ್ಲೆಟ್
Name[ko]=방화벽 애플릿
Name[lt]=Užkardos programėlė
Name[ml]=ഫയര്‍വോള്‍ ആപ്ലെറ്റ്
Name[mr]=फायरवॉल ॲपलेट
Name[nl]=Firewall applet
Name[or]=ଅଗ୍ନିକବଚ ଆପଲେଟ
Name[pa]=ਫਾਇਰਵਾਲ ਐਪਲੈੱਟ
Name[pl]=Aplet zapory sieciowej
Name[pt]=Míni aplicação de Firewall
Name[pt_BR]=Miniaplicativo do Firewall
Name[ru]=Апплет межсетевого экрана
Name[sk]=Aplet pre firewall
Name[sr]=Аплет заштитног зида
Name[sv]=Panelprogram för brandvägg
Name[ta]=ஃபயர்வால் அப்பலெட்
Name[te]=ఫైర్వాల్ ఆప్లెట్
Name[tr]=Güvenlik Duvarı Uygulaması
Name[uk]=Аплет брандмауера
Name[zh_CN]=防火墙小程序
Name[zh_TW]=防火牆面板程式
Comment=Firewall Applet
Comment[ar]=التطبيق الصغير للجدار الناري
Comment[as]=ফায়াৰৱাল এপ্লেট
Comment[bg]=Аплет на защитната стена
Comment[bn_IN]=ফায়ারওয়াল অ্যাপ্লেট
Comment[ca]=Miniaplicació del tallafoc
Comment[cs]=Aplet brány firewall
Comment[da]=Firewall-applet
Comment[de]=Firewall-Applet
Comment[el]=Μικροεφαρμογή τείχους προστασίας
Comment[en_GB]=Firewall Applet
Comment[en_US]=Firewall Applet
Comment[es]=Applet del cortafuegos
Comment[et]=Tulemüüri aplett
Comment[eu]=Suhesiaren applet-a
Comment[fi]=Palomuurisovelma
Comment[fr]=Appliquette pare-feu
Comment[gl]=Applet de devasa
Comment[gu]=ફાયરવોલ ઍપલેટ
Comment[hi]=फ़ायरवॉल एप्लेट
Comment[hu]=Tűzfal kisalkalmazás
Comment[ia]=Applet de parafoco
Comment[id]=Aplikasi Firewall
Comment[it]=Applet firewall
Comment[ja]=ファイアウォールアプレット
Comment[kn]=ಫೈರ್ವಾಲ್ ಆಪ್ಲೆಟ್
Comment[ko]=방화벽 애플릿
Comment[lt]=Užkardos programėlė
Comment[ml]=ഫയര്‍വോള്‍ ആപ്ലെറ്റ്
Comment[mr]=फायरवॉल ॲपलेट
Comment[nl]=Firewall applet
Comment[or]=ଅଗ୍ନିକବଚ ଆପଲେଟ
Comment[pa]=ਫਾਇਰਵਾਲ ਐਪਲੈੱਟ
Comment[pl]=Aplet zapory sieciowej
Comment[pt]=Míni aplicação de Firewall
Comment[pt_BR]=Miniaplicativo do Firewall
Comment[ru]=Апплет межсетевого экрана
Comment[sk]=Aplet pre firewall
Comment[sr]=Аплет заштитног зида
Comment[sv]=Panelprogram för brandvägg
Comment[ta]=ஃபயர்வால் அப்பலெட்
Comment[te]=ఫైర్వాల్ ఆప్లెట్
Comment[tr]=Güvenlik Duvarı Uygulaması
Comment[uk]=Аплет брандмауера
Comment[zh_CN]=防火墙小程序
Comment[zh_TW]=防火牆面板程式
Icon=firewall-applet
Categories=System;Settings;Security;
Exec=/usr/bin/firewall-applet
Type=Application
StartupNotify=true
Terminal=false
Hidden=true
